

<section>
    <div class="container">
        <div class="row mt-4">
            {{!-- {{#if addUser === false}}
                <div class="alert alert-danger" role="alert">
                    Email Id exits! 
                </div>
            {{/if}} --}}
            <a href="/admin/add-product" class="btn btn-primary ml-auto m-3">Add User</a>
        </div>
        <table class="table mt-5" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{this.Name}}</td>
                    <td>{{this.Email}}</td>
                    <td>{{this.Password}}</td>
                    <td><a href="/admin/edit-user?id={{this._id}}" class="btn btn-primary">Edit</a></td>
                    <td><a href="/admin/delete-user?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Do you want to delete user : {{this.Name}}  ?')">Delete</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>